 
<div class="projectsCtn">

  <div class="imgWrapper">
     <div class="frame">
      <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
     </div>
     <img src="./assets/img/lieferando.webp" alt="">
  </div>
  
  
 <div>
  <p>03/04</p>
  <div class="textCtn">
    <h1>Lieferando</h1>
    <h2>JavaScript | HTML | CSS |</h2>
    <h3>
      A simple food delivery app inspired by Lieferando. 
      Users can browse restaurants, add items to a cart, and place orders. 
      Built with a clean UI and basic authentication to simulate a real-world delivery service.
     </h3>
     <div class="btnCtn">
       <button>Github</button>
       <button>Live Test</button>
     </div>
  </div>
 <div>

</div>

