<div class="projectsCtn">
  
  <div>
   
   <p>02/04</p>

   <div class="textCtn">
    <h1>Wasteland Echeos</h1>
    <h2>JavaScript | HTML | CSS</h2>
    <h3>
      A simple Jump-and-Run game based on 
      an object-oriented approach. Help sharkie 
      to find coins and poison bottles to fight against 
      the killer whale.
     </h3>
     <div class="btnCtn">
      <button>Github</button>
      <button>Live Test</button>
    </div>
   </div>
  
  </div>
  

  <div class="imgWrapper">
    <div class="frame">
     <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
    </div>
    <img src="./assets/img/wastelandecheos.webp" alt="">
  </div>


</div>
