<div class="projectsCtn">

  <div>
    <p>{{ project.id }}</p>
    <div class="textCtn">
      <h1>{{ project.title }}</h1>
      <h2>{{ project.technologies }}</h2>
      <h3>{{ project.description }}</h3>
      <div class="btnCtn">
        <button>Github</button>
        <button>Live Test</button>
      </div>
    </div>
  </div>

  <div class="imgWrapper">
    <div class="frame">
      <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
    </div>
    <img [src]="project.imgSrc" [alt]="project.title">
  </div>

</div>
