<div class="projectsCtn" (mouseenter)="showTextOnce()">

  <div class="FieldText">
    <p class="uphidden">{{ project.id }}</p>
    <div class="textCtn" #textCtn>
      <h1>{{ project.title }}</h1>
      <h2>{{ project.technologies }}</h2>
      <h3>{{ project.description[translation.currentLanguage] }}</h3>
      <div class="btnCtn">
         <a class="btn" href="https://github.com/PirasanthShan/WastelandEchoes" target="_blank" rel="noopener noreferrer">Github</a>
         <a class="btn" href="https://pirasanth-shanmuganathan.developerakademie.net/WastelandEchoes/game.html" target="_blank" rel="noopener noreferrer">Live Test</a>
      </div>
    </div>
  </div>
  
  <div class="imgWrapper">
    <div class="frame">
      <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
    </div>
    <p class="hidden">{{ project.id }}</p>
    <img [src]="project.imgSrc" [alt]="project.title">
  </div>

</div>
