.arrowRightCtn{
  width: 100%;
    height: 300px;
    position: absolute;
    top: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  img{
    width: 200px;
    height: 200px; 
    position: absolute;
    right: 250px;
  }
}