<app-navbar></app-navbar>
<section class="landingPage">
  
  
  <div class="frontEnd">
      <h1>Frontend Developer</h1>
      <div class="nameCtn">
          <p>Pirasanth Shanmuganathan</p>
          <div class="custom-line"></div>
      </div> 
  </div>

  

  




  <div class="emailCtn">
      <a href="">pirasanth&#64;live.de</a>
  </div>
    
    <div class="scrollDownCtn">
      
      <div class="scrollCtn">
        <img src="./assets/img/ArrowScroll.webp" alt="">
      </div>

      <p>Scroll Down</p>
    
    </div>


</section>