
.landingPage{
  width: 1240px;
  height: 561px;
  position: absolute;
  top: 204px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}


.frontEnd{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 926px;
  height: 157px;
  
  >h1{
    color: rgb(0, 0, 0);
    font-family: 'Syne';
    font-weight: 800;
    margin: 0px;
    font-size: 128px;
    margin: 0px;
    line-height: 100%;
    letter-spacing: -2.5%;
    text-align: center;
   }
   
}

.nameCtn{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  width: 1019px;
  >p{
     font-family: 'Overpass';
     font-weight: 700;
     font-size: 48px;
     color: #776b02;
     margin: 0px;
    }
    .custom-line {
      width: 390px;
      border: 3px solid #000000;
      border-width: 0 0 3px 0; 
    }
}

.emailCtn{
  position: absolute;
  top: 765px;
  left: 100px;
  transform: rotate(270deg);
  a{
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    text-decoration: none;
    color: #000000;
    }
}


.scrollDownCtn{
  width: 116px;
    height: 230px;
    position: absolute;
    top: 641px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   p{
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 22px;
    margin: 0px;
    line-height: 100%;
   }
}

.scrollCtn{
  width: 116px;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    animation: scrollDown 1.5s linear infinite;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(180px); // exakt Höhe deines Containers
  }
}




