
.landingPage{
  width: 100%;
  min-height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  box-sizing: border-box;
}


.frontEnd{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 926px;
  height: 157px;
  margin-top: 100px;
  
  >h1{
    color: rgb(0, 0, 0);
    font-family: 'Syne';
    font-weight: 800;
    margin: 0px;
    font-size: 128px;
    margin: 0px;
    line-height: 100%;
    letter-spacing: -2.5%;
    text-align: center;
   }
   
}

.nameCtn{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  width: 1019px;
  >p{
     font-family: 'Overpass';
     font-weight: 700;
     font-size: 48px;
     color: #776b02;
     margin: 0px;
    }
   
}

 .custom-line {
      width: 390px;
      border: 3px solid #000000;
      border-width: 0 0 3px 0; 
    }

.emailCtn{
  position: absolute;
  top: 765px;
  left: 20%;
  transform: rotate(270deg);
  a{
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    text-decoration: none;
    color: #000000;
    }
}


.scrollDownCtn{
  width: 116px;
    height: 230px;
    position: absolute;
    top: 641px;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   p{
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 22px;
    margin: 0px;
    line-height: 100%;
   }
}

.scrollCtn{
  width: 116px;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    animation: scrollDown 1.5s linear infinite;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(180px); // exakt Höhe deines Containers
  }
}

@media screen and (max-width: 1082px) {
  .frontEnd {
    > h1 {
      font-size: 90px;
    }
  }

  .custom-line {
    width: 250px;
  }

  .nameCtn {
    width: auto;
    > p {
      font-size: 30px;
    }
  }
 
  .scrollDownCtn {
    top: 450px;
    right: 20px;
  }

  .emailCtn {
    top: 590px;
    left: -50px;
   }

}


@media screen and (max-width: 750px){
.frontEnd{
  >h1{
    font-size: 70px;
  }
}

.custom-line {
    width: 160px;
  }

  
   .landingPage{
    min-height: 0px;
   }


}


@media screen and (max-width: 600px){
.frontEnd{
  >h1{
    font-size: 50px;
    width: 400px;
  }
}

.frontEnd {
 margin-top: 10px;
}

.custom-line {
    width: 100px;
  }

.nameCtn {
    width: auto;
    > p {
      font-size: 20px;
    }
  }

  .scrollCtn {
    width: 50px;
    height: 100px;
   }

   .scrollDownCtn {
    top: 295px;
    right: 5px;
    width: auto;

    img{
      width: 35px;
    }
    p{
      font-size: 14px;
      width: min-content;
    }
  }

  .emailCtn {
    top: 400px;
    left: -50px;
    a{
     font-size: 15px;
   }
   }
   
}


@media screen and (max-width: 420px){
.frontEnd{
  >h1{
    font-size: 35px;
    width: 400px;
  }
}

.custom-line {
    width: 50px;
  }

.nameCtn {
    width: auto;
    > p {
      font-size: 15px;
    }
  }

  .emailCtn {
    top: 285px;
    left: -45px;
 }

 .scrollDownCtn {
        top: 180px;

}

}






  


      

   
  