<div class="projectsCtn">

  <div>
    <p>{{ project.id }}</p>
    <div class="textCtn">
      <h1>{{ project.title }}</h1>
      <h2>{{ project.technologies }}</h2>
      <h3>{{ project.description[translation.currentLanguage] }}</h3>
      <div class="btnCtn">
         <a class="btn" href="https://github.com/PirasanthShan/Pokedex" target="_blank" rel="noopener noreferrer">Github</a>
         <a class="btn" href="https://pirasanth-shanmuganathan.developerakademie.net/Pokedex/index.html" target="_blank" rel="noopener noreferrer">Live Test</a>
      </div>
    </div>
  </div>

  <div class="imgWrapper">
    <div class="frame">
      <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
    </div>
    <img [src]="project.imgSrc" [alt]="project.title">
  </div>

</div>
