<div class="projectsCtn">
  
  <div>
   
   <p>04/04</p>

   <div class="textCtn">
    <h1>Pokédex</h1>
    <h2>JavaScript | HTML | CSS | Api</h2>
    <h3>
      Based on the PokéAPI a simple library that provides and catalogues pokemon information.
     </h3>
     <div class="btnCtn">
      <button>Github</button>
      <button>Live Test</button>
    </div>
   </div>
  
  </div>
  

  <div class="imgWrapper">
    <div class="frame">
     <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
    </div>
    <img src="./assets/img/pokedex.webp" alt="">
  </div>


</div>
