 
  <div class="projectsCtn">

    <div class="imgWrapper">
       <div class="frame">
        <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
       </div>
       <img src="./assets/img/join.webp" alt="">
    </div>
    
    
   <div>
    <p>01/04</p>
    <div class="textCtn">
      <h1>Join</h1>
      <h2>Angular | TypScript | HTML | CSS | Firebase</h2>
      <h3>
        Task manager inspired by the Kanban System. Create and 
        organize tasks using drag and drop functions, assign users and 
        categories.
       </h3>
       <div class="btnCtn">
        <button>Github</button>
        <button>Live Test</button>
      </div>
    </div>
   <div>
  
</div>
