<section class="legalContainer">
  <div class="mainContainer">
    <h1>{{ translation.getTranslation('legalTitle') }}</h1>

    <h2>{{ translation.getTranslation('legalInfo') }}</h2>
    <p>
      Pirasanth Shanmuganathan<br>
      Georg-Friedrich-Händelstr. 5<br>
      59075 Hamm<br>
      {{ translation.getTranslation('legalGermany') }}
    </p>

    <h2>{{ translation.getTranslation('legalContact') }}</h2>
    <p>
      Telefon: <em>{{ translation.getTranslation('legalOnRequest') }}</em><br>
      E-Mail: <a href="mailto:pirasanth@live.de">pirasanth&#64;live.de</a>
    </p>

    <h2>{{ translation.getTranslation('legalContentResponsibility') }}</h2>
    <p>
      Pirasanth Shanmuganathan<br>
      Georg-Friedrich-Händelstr. 5<br>
      59075 Hamm
    </p>

    <h2>{{ translation.getTranslation('legalLiabilityTitle') }}</h2>
    <p>
      {{ translation.getTranslation('legalLiabilityContent1') }}
    </p>
    <p>
      {{ translation.getTranslation('legalLiabilityContent2') }}
    </p>

    <h2>{{ translation.getTranslation('legalLinksTitle') }}</h2>
    <p>
      {{ translation.getTranslation('legalLinksContent1') }}
    </p>
    <p>
      {{ translation.getTranslation('legalLinksContent2') }}
    </p>

    <h2>{{ translation.getTranslation('legalCopyrightTitle') }}</h2>
    <p>
      {{ translation.getTranslation('legalCopyrightContent1') }}
    </p>
    <p>
      {{ translation.getTranslation('legalCopyrightContent2') }}
    </p>
  </div>
</section>