<div class="projectMainCtn">
  
  
  
  <div class="headerCtn">
    <h1>Portfolio</h1>
    <p>
      Explore a selection of my work here -
      Interact with projects to see my skills in action.
    </p>
  </div>

  
  
  
  <div class="projectsCtn">
    
    <div class="imgWrapper">
       <div class="frame">
        <img src="./assets/img/ArrowButton.webp" alt="Arrow" class="arrow-icon">
       </div>
       <img src="./assets/img/join.webp" alt="">
    </div>

    <div class="textCtn">
      <h1>Join</h1>
      <h2>Angular | TypScript | HTML | CSS | Firebase</h2>
      <h3>
        Task manager inspired by the Kanban System. Create and 
        organize tasks using drag and drop functions, assign users and 
        categories.
       </h3>
       <button>Github</button>
    </div>

    
  <div>
    <span>01/04</span>
  </div>


  </div>

</div>
