<section>
 

  <div class="leftFooter">
     <a href=""><img src="./assets/img/myLogowhite.webp" alt=""></a>
     <span>© Pirasanth Shanmuganathan 2025</span>
  </div>

  <div class="rightFooter">
    
    <div class="imgCtn">
      <img src="./assets/img/Github.webp" alt="">
      <img src="./assets/img/Email.webp" alt="">
      <img class="inImg"src="./assets/img/in.webp" alt="">
    </div>
    
    <div class="legalCtn">
       <a [routerLink]="['/imprint']">Impressum</a>
    </div>
  
  </div>


</section>
