<section>
   
 <div class="Footer"> 
  
  <div class="leftFooter">
     <a href=""><img src="./assets/img/myLogowhite.webp" alt=""></a>
     <span>© Pirasanth Shanmuganathan 2025</span>
  </div>

  
  <div class="rightFooter">
    
    <div class="imgCtn">
      <a href="https://github.com/PirasanthShan" target="_blank" rel="noopener noreferrer">
        <img src="./assets/img/Github.webp" alt="GitHub">
      </a>

      <a href="mailto:deine.email@adresse.de">
        <img src="./assets/img/Email.webp" alt="Email">
      </a>

      <a href="https://www.linkedin.com/in/pirasanth-shanmuganathan-282b91381/" target="_blank" rel="noopener noreferrer">
        <img class="inImg" src="./assets/img/in.webp" alt="LinkedIn">
      </a>
    </div>

    
    <div class="legalCtn">
       <a [routerLink]="['/imprint']">Impressum</a>
    </div>
  
  </div>
 
 </div> 

</section>
