<section>
  <div class="header">
    <h1>{{ translation.getTranslation('sayHi') }}</h1>
  </div>

  <div>
    <h2>{{ translation.getTranslation('projectQuestion') }}</h2>
    <h3>{{ translation.getTranslation('projectInvite') }}</h3>
  </div>

  <div class="inputCtn">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

      <!-- Name Field -->
      <div class="floatingInput">
        <input [(ngModel)]="contactData.name"
               id="name"
               name="name"
               class="input"
               required
               #name="ngModel" />
        <div class="icon">
          <img src="assets/img/warn.webp" alt="!" *ngIf="name.invalid && name.touched">
          <img src="assets/img/right.webp" alt="✓" *ngIf="name.valid && name.touched">
        </div>
        <label for="name">{{ translation.getTranslation('yourName') }}</label>
      </div>
      <span *ngIf="name.invalid && name.touched" class="warnInput">
        {{ translation.getTranslation('nameRequired') }}
      </span>

      <!-- Email Field -->
      <div class="floatingInput">
        <input [(ngModel)]="contactData.email"
               id="email"
               name="email"
               class="input"
               type="email"
               required
               pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
               #email="ngModel">
        <div class="icon">
          <img src="./assets/img/warn.webp" alt="!" *ngIf="email.invalid && email.touched">
          <img src="./assets/img/right.webp" alt="✓" *ngIf="email.valid && email.touched">
        </div>
        <label for="email">{{ translation.getTranslation('yourEmail') }}</label>
      </div>
      <span *ngIf="email.invalid && email.touched" class="warnInput">
        {{ translation.getTranslation('emailRequired') }}
      </span>

      <!-- Message Field -->
      <div class="floatingTextarea">
        <textarea [(ngModel)]="contactData.message"
                  id="message"
                  name="message"
                  class="textInput"
                  required
                  #message="ngModel"></textarea>
        <div class="icon">
          <img src="assets/img/warn.webp" alt="!" *ngIf="!isMessageValid() && message.touched">
          <img src="assets/img/right.webp" alt="✓" *ngIf="isMessageValid() && message.touched">
        </div>
        <label for="message">{{ translation.getTranslation('yourMessage') }}</label>
      </div>
      <span *ngIf="!isMessageValid() && message.touched" class="warnInput">
        {{ translation.getTranslation('messageRequired') }}
      </span>

      <!-- Checkbox -->
      <div class="checkCtn">
        <img (click)="toggleCheckbox()"
             [src]="currentImage"
             alt="Check Icon"
             width="24"
             height="24"
             (mouseenter)="onMouseEnter()"
             (mouseleave)="onMouseLeave()"
             style="cursor: pointer" />
        <p>
          {{ translation.getTranslation('acceptPrivacy') }}
        </p>
      </div>

      <span class="warnInputPrivacy" *ngIf="showPrivacyWarning">
        {{ translation.getTranslation('privacyRequired') }}
      </span>

      <!-- Submit Button -->
      <input
        type="submit"
        [value]="translation.getTranslation('sendMessage')"
        class="button"
        [class.active]="isFormReady(contactForm)" />
    </form>
  </div>

  <div class="pfeiToTop">
    <a href="#landingpage"><img src="./assets/img/arrowtoToplong.webp" alt=""></a>
  </div>
</section>
