<section>
 
  <div>
   <h1> Say Hi!</h1>
  </div>
  
  <div>
    <h2>Want to discuss a new project?</h2>
    <h3>Say hello! let's discuss your ideas and make it happen</h3>
  </div>

  <div class="inputCtn">
    <input class="input"  placeholder="Your name" type="Your Name">
    <input class="input"  placeholder="Your email" type="Your email">
    <textarea class="textInput" placeholder="Your message" type="Your message"></textarea>
      <div class="checkCtn">
        <img src="./assets/img/blanketCheck.webp" alt="">
        <p>I've read the privacy policy and agree to the processing of my data as outlined.</p>
      </div>
    <button>Send message</button>
  </div>

  


</section>
