<section>
  <div class="innerCtn">

    <div class="skillsCtn">
      <h1>{{ translation.getTranslation('mySkills') }}</h1>
    </div>

    <div class="grid">
      <div class="item" *ngFor="let img of images">
        <img [src]="img.src" [alt]="img.alt">
        <p>{{ img.label[translation.currentLanguage] }}</p>
      </div>
    </div>
    
    <div class="continued-learning">
      <img
        src="./assets/img/Property 1=Continued learning.webp"
        alt="Always learning"
      >
      <p>
        {{ translation.getTranslation('contactForMore') }}
        <a href="mailto:your@email.com">
          {{ translation.currentLanguage === 'EN' ? 'Contact me' : 'Schreib mir' }}
        </a>
      </p>
    </div>

  </div>
</section>
