<section class="aboutContainer">
   <div class="mainContainer">
      
      <div class="aboutMeContainer">
        
        <div>
          <h1>About Me</h1>
          <p class="textaboutme">
            I've been hooked on computers and technology since I was a kid — always curious about what’s really going on behind the screen. These days, I work a lot with PCs in my office job, but honestly, that’s not enough for me: I want to dive deeper, learn coding, build stuff, and stay on top of new technologies.
            I don't see problems as stress; I treat them like game levels: analyze, break them down, and tackle them step by step. When things get tricky, I stick with it. Creativity, persistence, and teamwork are just part of how I roll — sure, solo wins are nice, but team wins are better.
            Fun fact: I’m also a passionate gamer. Some people call it "wasting time," I call it "brain training with bonus entertainment."
          </p>
        </div>
        
        <div class="locationCtn">
          <div>
            <img src="./assets/img/house.webp" alt=""><p>Based in Münster</p>
          </div>
          <div>
            <img src="./assets/img/laptop.webp" alt=""><p>Open to work Remote</p>
          </div>
        </div>

        <button>Let's talk</button>
      </div>

  
      
  
     <div class="imgContainer">
       <img src="./assets/img/me.webp" alt="">
       <div class="frame"></div>
     </div>

 </div>
</section>
