<section class="aboutContainer">
  <div class="mainContainer">

    <div class="aboutMeContainer">

      <div>
        <h1>{{ translation.getTranslation('aboutMe') }}</h1>

        <p class="textaboutme">
          {{ translation.getTranslation('aboutText') }}
        </p>
      </div>

      <div class="locationCtn">
        <div>
          <img src="./assets/img/house.webp" alt="">
          <p>{{ translation.getTranslation('basedIn') }}</p>
        </div>
        <div>
          <img src="./assets/img/laptop.webp" alt="">
          <p>{{ translation.getTranslation('remote') }}</p>
        </div>
      </div>

      <a href="#email">
        <button>{{ translation.getTranslation('letsTalk') }}</button>
      </a>
    </div>

    <div class="imgContainer">
      <img
        src="assets/img/me-600.webp"
        srcset="
          assets/img/me-400.webp 400w,
          assets/img/me-600.webp 600w,
          assets/img/me-1200.webp 1200w
        "
        sizes="(max-width: 600px) 400px, (max-width: 1500px) 500px, 600px"
        width="600"
        height="544"
        alt=""
      />

      <div class="frame"></div>
    </div>

  </div>
</section>
