<section class="aboutContainer">
  <div class="mainContainer">

    <div class="aboutMeContainer">

      <div>
        <h1>{{ translation.getTranslation('aboutMe') }}</h1>

        <p class="textaboutme">
          {{ translation.getTranslation('aboutText') }}
        </p>
      </div>

      <div class="locationCtn">
        <div>
          <img src="./assets/img/house.webp" alt="">
          <p>{{ translation.getTranslation('basedIn') }}</p>
        </div>
        <div>
          <img src="./assets/img/laptop.webp" alt="">
          <p>{{ translation.getTranslation('remote') }}</p>
        </div>
      </div>

      <a href="#email">
        <button>{{ translation.getTranslation('letsTalk') }}</button>
      </a>
    </div>

    <div class="imgContainer">
      <img src="./assets/img/me.webp" alt="">
      <div class="frame"></div>
    </div>

  </div>
</section>
