.aboutContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  .mainContainer{
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    margin-left: 150px;
    margin-right: 150px;
 }
}



h1{
  font-family: Syne;
  font-weight: 800;
  font-size: 78px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  margin: 0px;
  transition: color 0.2s ease; 
  text-align: start;
  &:hover{
   color: #FF9900;
  }
}

.textaboutme{
  font-family: Overpass;
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
  
}

.aboutMeContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: auto; // besser als feste Höhe
}

.locationCtn{
  p{
    font-family: Overpass;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  div{
  display: flex;
  align-items: center;
  gap: 20px
  }
  img{
  width: 36.66666793823242px;
  height: 28.33333396911621px;
  }
 } 

.imgContainer{
  position: relative; //
  width: auto;
  height: auto;
  overflow: visible; /* allow overlay to overflow */
  img{
   display: block;
   max-width: 700px;
   max-height: 700px;
   object-fit: cover;
  }
 }

.imgContainer .frame {
  position: absolute;
  transition: 0.5ms;
  pointer-events: none;  
}
.imgContainer:hover .frame {
  width: 700px;
  height: 700px;
  top: 20px;                
  right: -20px;       
  border: 4px solid #000;
  box-sizing: border-box;
}

 

button {
  width: 213px;
  height: 68px;
  padding: 20px;
  background-color: #FFFCF3;
  border: 4px solid #000;
  color: #000;
  font-family: Overpass, sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
  margin: auto;
  margin-top: 50px;
  transition: 
  transform 0.2s ease,
  box-shadow 0.2s ease,
  background-color 0.2s ease;
  cursor: pointer;
}


button:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


button:active {
  transform: translateY(0) scale(0.98);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;     
  color: #ffffff;          
}

  

 

